{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<section style="margin-top: 100px;display: flex;justify-content: center;align-items: center;">
  
    <div style="display: block;margin-top: 100px;margin-bottom: 100px;">

        <h1 style="font-size: 30px;font-weight: 30px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;text-transform: uppercase;">
              Payment Failed
          Your payment could not be processed. Please try again later.</h1>
    
    </div>
 

</section>


{% endblock %}