<!-- payment_app/templates/payment_success.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<section style="margin-top: 100px;display: flex;justify-content: center;align-items: center;">
    <h1 style="font-size: 50px;font-weight: 30px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;margin-top: 100px;text-transform: uppercase;margin-bottom: 100px;">
       Your payment has been successfully processed.</h1>


</section>

    
{% endblock %}