{% extends 'base.html' %}
{% load static %}
{% block content %}
  
<h1>TRAINER REGISTRATION</h1>


<form method="POST" action="{% url 'trainer_register' %}">
    {% csrf_token %}
    <div class="mb-3">
    
      <input type="text" class="form-control" name="username" required placeholder="enter the name">
      <br>
      <input type="email" class="form-control" name="email" required placeholder="ENTER email">
      <br>
      <input type="number" class="form-control" name="phone" required placeholder="ENTER phone number">
      <br>
      <input type="number" class="form-control" name="age" required placeholder="ENTER age">
      <br>
      <input type="text" class="form-control" name="place" required placeholder="ENTER place">
      <br>
      <!-- gender selection  -->
      <select name="gender" class="form-control">
        <option value="">Select your gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
      <br>
     
      <input type="text" class="form-control" name= "special" required placeholder="ENTER  specialization">
      <input type="number" class="form-control" name="exp-yrs" required placeholder="ENTER experience_years">
      <input type="text" class="form-control" name="cert" required placeholder="ENTER certifications if any">
   
      <input type="text" class="form-control" name="qualif" required placeholder="ENTER qualification">
  
    </div>
    <br>
    <div class="mb-3">
    
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
  
    <br>
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}