{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1>operations</h1>



<style>
    table {
        width: 70%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #04AA6D;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
</style>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>  phone</th>
            <th>Age</th>
            <th>Gender</th>        
            <th>Goal </th>
            <th>Fitness Level</th>
            <th>Paid or unpaid</th>
            <th>assigning trianer</th>
        </tr>
    </thead>
    <tbody>
        {% for student in get_students %}
        <tr>
            <td>{{ student.username }}</td>
            <td>{{  student.phone}}</td>
            <td>{{  student.age }}</td>
            <td>{{  student.gender}}</td>
            <td>{{  student.goal }}</td>
            <td>{{  student.fitness_level }}</td>
            <td></td>
           

            <form method="post" action="">
                {% csrf_token %}
                <td>
                    <select name="trainer" id="trainer-dropdown">
                        <option value="">Select a Trainer</option>
                        {% for trainer in get_trainers %}
                            <option value="{{ trainer.id }}">{{ trainer.username }}</option>
                        {% endfor %}
                    </select>
             
                    <input type="submit" value="Assign Trainer">
                </td>
            </form>
          
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}