{% extends 'admin-dashbord.html' %}
{% load static %}
{% block content %}


<style>
    table {
        width: 70%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #04AA6D;
        color: white;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #ddd;
    }
</style>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Goal</th>
            <th>Fitness Level</th>
            <th>Phone</th>
            <th>assigned trainer</th>
           
        </tr>
    </thead>
    <tbody>
        {% for user in student_users %}
        <tr>
            <td>{{ user.student.username }}</td>
            <td>{{ user.student.age }}</td>
            <td>{{ user.student.gender}}</td>
            <td>{{ user.student.goal }}</td>
            <td>{{ user.student.fitness_level }}</td>
            <td>{{ user.student.phone }}</td>
            <td>
               {% for trainer in user.assigned_trainer.all %}
               {{trainer}}
               {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}