{% extends 'admin-dashbord.html' %}
{% load static %}
{% block content %}

<style>
    .user-detail-container {
        background-color: #1c2022;
        color: #fff;

        padding: 20px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding-bottom: 500px;
        
    }

    table {
        width: auto;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #8b8b8b;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #04AA6D;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #514f4f;
    }

    tr:hover {
        background-color: #ddd;
    }
</style>

<section class="content-section" style="margin-top: 2px;margin-left: 2px; background-color: rgb(28, 32, 34);padding: 10px;padding-left: 70px;">
    <div class="user-detail-container ">
        <h1> Trainer Details</h1>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>specialization </th>
                    <th> qualification</th>
                    <th>experience_years</th>
                    <th>Phone</th>
                    <th>assigned students</th>
                </tr>
            </thead>
            <tbody>
                {% for user in trainer_users%}
                <tr>
                    <td>{{ user.trainer.username }}</td>
                    <td>{{ user.trainer.age }}</td>
                    <td>{{ user.trainer.gender}}</td>
                    <td>{{ user.trainer.specialization }}</td>
                    <td>{{ user.trainer.qualification}}</td>
                    <td>{{ user.trainer.experience_years}}</td>
                    <td>{{ user.trainer.phone}}</td>
                    <td>
                        {% for student in user.assigned_students.all %}
                        {{student}}
                        <br>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</section>

{% endblock %}